{% extends "_base.html" %}
{% load static %}

{% block title %}
    YektaKala | آدرس‌ها
{% endblock title %}

{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="row mb-5">
                <div class="col-xl-3 col-lg-4 col-md-5 mb-md-0 mb-4">
                    <div class="ui-sticky ui-sticky-top">
                        <div class="profile-user-info py-3 ui-box bg-white">
                            <div class="profile-detail">
                                <div class="d-flex align-items-center">
                                    <div class="profile-avatar me-3">
                                        {% if user.avatar %}
                                        <img src="{{ user.avatar.url }}" alt="avatar">
                                        {% else %}
                                        <img src="{% static "store/images/avatar/default.png" %}" alt="avatar">
                                        {% endif %}
                                    </div>
                                    <div class="profile-info">
                                        <a href="{% url "users:personal-info" %}" class="text-decoration-none text-dark fw-bold mb-2">{{ user.full_name }}</a>
                                        <div class="text-muted fs-7 fw-bold">{{ user.mobile }}</div>
                                    </div>
                                </div>
                                <div class="user-options">
                                    <ul>
                                        <li>
                                            <span class="label">کیف پول</span>
                                            <span class="detail">
                                                <span class="d-block">۰ <span class="currency fs-7 fw-bold">تومان</span></span>
                                                <a href="#" class="link border-bottom-0 text-info fs-7 fw-bold">افزایش موجودی <i class="ri-arrow-left-s-line"></i></a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="label">باشگاه مشتریان</span>
                                            <span class="detail">
                                                <span class="d-block">۰ <span class="score text-muted fs-7">امتیاز</span></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="nav nav-items-with-icon flex-column">
                                <li class="nav-item"><a class="nav-link" href="{% url "users:my-orders" %}"><i class="nav-link-icon ri-file-list-3-line"></i> سفارش‌های من</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:favorites" %}"><i class="nav-link-icon ri-heart-3-line"></i> لیست‌ها</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:comments" %}"><i class="nav-link-icon ri-chat-1-line"></i> نظرات</a></li>
                                <li class="nav-item"><a class="nav-link active" href="{% url "users:address" %}"><i class="nav-link-icon ri-map-pin-line"></i> نشانی‌ها</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:giftcards" %}"><i class="nav-link-icon ri-gift-line"></i> کارت‌های هدیه</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:notifications" %}"><i class="nav-link-icon ri-notification-line"></i> پیغام‌ها</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:tickets" %}"><i class="nav-link-icon ri-ticket-line"></i> تیکت‌ها</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:user-history" %}"><i class="nav-link-icon ri-time-line"></i> بازدیدهای اخیر</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:personal-info" %}"><i class="nav-link-icon ri-user-line"></i> اطلاعات حساب</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url "users:logout" %}"><i class="nav-link-icon ri-logout-box-r-line"></i> خروج</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
                        <div>
                            سفارش شما در انتظار پرداخت است. برای جلوگیری از لغو سفارش، لطفا پرداخت را انجام دهید.
                            <a href="{% url "users:my-orders" %}" class="btn btn-sm btn-primary mx-3">سفارش‌های من</a>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="ui-box bg-white mb-5 address-data">
                        <div class="ui-box-title">آدرس‌ها</div>
                        <div class="ui-box-content">
                            <div class="user-address-items">
                                {% for address in user.customer.addresses.all %}
                                <div class="user-address-item">
                                    <div class="custom-radio-box">
                                        <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress{{ address.id }}" {% if address.is_default %}checked{% endif %}>
                                        <label for="userAddress{{ address.id }}" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش‌فرض" data-placeholder-checked="آدرس پیش‌فرض من است">
                                            <span class="d-block user-address-recipient mb-2">{{ address.province }}، {{ address.city }}</span>
                                            <span class="d-block user-contact-items fa-num mb-3">
                                                <span class="user-contact-item">
                                                    <i class="ri-mail-line icon"></i>
                                                    <span class="value">{{ address.postal_code }}</span>
                                                </span>
                                                <span class="user-contact-item">
                                                    <i class="ri-phone-line icon"></i>
                                                    <span class="value">{{ address.mobile }}</span>
                                                </span>
                                                <span class="user-contact-item">
                                                    <i class="ri-user-line icon"></i>
                                                    <span class="value">{{ address.recipient_name }} {{ address.recipient_last_name }}</span>
                                                </span>
                                            </span>
                                            <span class="d-flex align-items-center justify-content-end">
                                                <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal" data-address-id="{{ address.id }}">حذف</a>
                                                <span class="text-secondary mx-2">|</span>
                                                <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal" data-address-id="{{ address.id }}">ویرایش</a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="user-address-item user-add-address-btn-container">
                                    <button class="user-add-address-btn" data-remodal-target="add-address-modal">
                                        <i class="ri-add-line icon"></i>
                                        <span>آدرس جدید</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- مودال حذف آدرس -->
        <div class="remodal remodal-xs" data-remodal-id="remove-from-addresses-modal" data-remodal-options="hashTracking: false">
            <div class="remodal-header">
                <button data-remodal-action="close" class="remodal-close"></button>
            </div>
            <div class="remodal-content">
                <div class="text-muted fs-7 fw-bold mb-3">
                    آیا مطمئنید که این آدرس حذف شود؟
                </div>
            </div>
            <div class="remodal-footer">
                <button data-remodal-action="cancel" class="btn btn-sm btn-outline-light px-3 me-2">خیر</button>
                <button id="confirm-delete-address" class="btn btn-sm btn-primary px-3">بله</button>
            </div>
        </div>
        <!-- مودال افزودن آدرس -->
        <div class="remodal remodal-sm" data-remodal-id="add-address-modal" data-remodal-options="hashTracking: false">
            <div class="remodal-header">
                <button data-remodal-action="close" class="remodal-close"></button>
                <div class="remodal-title">افزودن آدرس جدید</div>
            </div>
            <div class="remodal-content">
                <form id="add-address-form" class="add-address-form">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">نام گیرنده</label>
                                <input type="text" name="recipient_name" class="form-control" placeholder="نام" required>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">نام خانوادگی گیرنده</label>
                                <input type="text" name="recipient_last_name" class="form-control" placeholder="نام خانوادگی" required>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">استان</label>
                                <select class="select2" name="province" id="province-select" required>
                                    <option value="">انتخاب کنید</option>
                                    <!-- گزینه‌ها با جاوااسکریپت پر می‌شوند -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">شهر</label>
                                <select class="select2" name="city" id="city-select" required>
                                    <option value="">ابتدا یک استان انتخاب کنید</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">شماره موبایل</label>
                                <input type="text" name="mobile" class="form-control" placeholder="مثال: ۰۹۱۲۳۴۵۶۷۸۹" required>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">کد پستی</label>
                                <input type="text" name="postal_code" class="form-control" placeholder="کدپستی باید ۱۰ رقم و بدون خط تیره باشد" required>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">آدرس</label>
                                <textarea rows="5" name="full_address" class="form-control" placeholder="آدرس کامل" required></textarea>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="is_default" id="is_default">
                                <label class="form-check-label" for="is_default">آدرس پیش‌فرض</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="remodal-footer">
                <button data-remodal-action="cancel" class="btn btn-sm btn-outline-light px-3 me-2">بستن</button>
                <button id="submit-address" class="btn btn-sm btn-primary px-3">ثبت</button>
            </div>
        </div>
        <!-- مودال ویرایش آدرس -->
        <div class="remodal remodal-sm" data-remodal-id="edit-address-modal" data-remodal-options="hashTracking: false">
            <div class="remodal-header">
                <button data-remodal-action="close" class="remodal-close"></button>
                <div class="remodal-title">ویرایش آدرس</div>
            </div>
            <div class="remodal-content">
                <form id="edit-address-form" class="add-address-form">
                    <input type="hidden" name="address_id">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">نام گیرنده</label>
                                <input type="text" name="recipient_name" class="form-control" placeholder="نام" required>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">نام خانوادگی گیرنده</label>
                                <input type="text" name="recipient_last_name" class="form-control" placeholder="نام خانوادگی" required>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">استان</label>
                                <select class="select2" name="province" id="edit-province-select" required>
                                    <option value="">انتخاب کنید</option>
                                    <!-- گزینه‌ها با جاوااسکریپت پر می‌شوند -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">شهر</label>
                                <select class="select2" name="city" id="edit-city-select" required>
                                    <option value="">ابتدا یک استان انتخاب کنید</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">شماره موبایل</label>
                                <input type="text" name="mobile" class="form-control" placeholder="مثال: ۰۹۱۲۳۴۵۶۷۸۹" required>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">کد پستی</label>
                                <input type="text" name="postal_code" class="form-control" placeholder="کدپستی باید ۱۰ رقم و بدون خط تیره باشد" required>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-element-row">
                                <label class="label fs-7">آدرس</label>
                                <textarea rows="5" name="full_address" class="form-control" placeholder="آدرس کامل" required></textarea>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="is_default" id="edit-is_default">
                                <label class="form-check-label" for="edit-is_default">آدرس پیش‌فرض</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="remodal-footer">
                <button data-remodal-action="cancel" class="btn btn-sm btn-outline-light px-3 me-2">بستن</button>
                <button id="submit-edit-address" class="btn btn-sm btn-primary px-3">ثبت</button>
            </div>
        </div>
    </main>
{% endblock content %}
