<div class="remodal remodal-lg" data-remodal-id="quick-view-modal"
        data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <div class="remodal-content">
            <div class="product-detail-container">
                <div class="row">
                    <div class="col-md-5 mb-md-0 mb-4">
                        <!-- start of product-gallery -->
                        <div class="product-gallery">
                            <div class="gallery-img-container">
                                <!-- Slider main container -->
                                <div class="swiper gallery-swiper-slider">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper" id="gallery-slider-wrapper">
                                        <!-- Slides -->
                                    </div>

                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <!-- Slider main container -->
                                <div class="swiper gallery-thumbs-swiper-slider">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper" id="gallery-thumbs-wrapper">
                                        <!-- Slides will be added here dynamically -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-gallery -->
                    </div>
                    <div class="col-md-7 mb-md-0 mb-4">
                        <!-- start of breadcrumb -->
                        <nav class="mb-2" aria-label="breadcrumb">
                            <ol class="breadcrumb fs-7">
                                <!-- تگ‌ها به صورت دینامیک اینجا اضافه می‌شوند -->
                            </ol>
                        </nav>
                        <!-- end of breadcrumb -->
                        <!-- start of product-detail -->
                        <h2 class="product-title">عنوان محصول</h2>
                        <div class="product-en mb-3"><span>عنوان انگلیسی</span></div>
                        <!-- تعداد دیدگاه‌ها و پرسش‌ها -->
                        <div class="product-user-meta fa-num mb-4">
                            <span class="product-users-rating">
                                <i class="ri-star-fill icon me-1"></i>
                                <span class="fw-bold me-1 product-rating">4.4</span>
                                <span class="text-muted fs-7">()</span>
                            </span>
                            <span class="divider"></span>
                            <a href="" class="link border-bottom-0 fs-7 comments-link">۰ دیدگاه کاربران</a>
                            <span class="divider"></span>
                            <a href="" class="link border-bottom-0 fs-7 questions-link">۰ پرسش و پاسخ</a>
                        </div>
                        <div class="product-price fa-num mb-3">
                            <div class="d-flex align-items-center">
                                <del class="price-old"></del>
                                <span class="discount ms-2"></span>
                            </div>
                            <span class="price-now"></span>
                        </div>
                        <!-- colors -->
                        <div class="product-variants-container mb-3">
                            <div class="product-variant-selected-container">
                                <span class="product-variant-selected-label">رنگ:</span>
                                <span class="product-variant-selected">بدون انتخاب</span>
                            </div>
                            <div class="product-variants">
                            </div>
                        </div>
                        <!-- attr -->
                        <div class="expandable-text mb-3" style="height: 95px;">
                        <div class="expandable-text_text">
                            <div class="product-params">
                            </div>
                        </div>
                        <div class="expandable-text-expand-btn">
                            <span class="show-more">
                                بیشتر بخوانید <i class="ri-arrow-down-s-line"></i>
                            </span>
                            <span class="show-less d-none">
                                بستن <i class="ri-arrow-up-s-line"></i>
                            </span>
                        </div>
                    </div>
                        <!-- end of product-detail -->
                    </div>
                </div>
            </div>
        </div>
        <div class="remodal-footer">
            <button data-remodal-action="cancel" class="btn btn-sm btn-outline-light px-3 me-2">بستن</button>
            <a href="" class="btn btn-sm btn-primary px-3">دیدن محصول</a>
        </div>
    </div>
